doctype 5
html(lang="zh-CN")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Yabby Admin')
    title Yabby Admin
    link(rel='stylesheet', href='images/pure-min.css')
    link(rel='stylesheet', href='images/style.css')
  body
    #layout.pure-g-r
      a#menuLink.pure-menu-link(href='#menu')
        span
      #menu.pure-u
        .pure-menu.pure-menu-open
          a.pure-menu-heading(href='/') Yabby Admin
          ul
            li.pure-menu-selected
              a(href='/base/') 用户管理
            li
              a(href='/grids/') 频道管理
            li
              a(href='/forms/') Tweet 管理
      #container.pure-u-1
        #toolbar.pure-menu.pure-menu-open.pure-menu-horizontal
          ul
            li.pure-menu-selected
              a(href="#") 新建用户
            li
              a(href="#") 删除用户
            li
              a(href="#") 编辑用户
            li
              a(href="#") 全选
            li
              a(href="#") 反选
            li
              a(href="#") 取消
        #waterfall.pure-g-r
          .tweet
            .inner
              .tweet-header
                img(src="img.png")
              .tweet-text
                p 你好
          .tweet
            .inner
              .tweet-header
                img(src="img.png")
              .tweet-text
                p 你好
          .tweet
            .inner
              .tweet-header
                img(src="img.png")
              .tweet-text
                p 你好
          .tweet
            .inner
              .tweet-header
                img(src="img.png")
              .tweet-text
                p 你好
          .tweet
            .inner
              .tweet-header
                img(src="img.png")
              .tweet-text
                p 你好
          .tweet
            .inner
              .tweet-header
                img(src="img.png")
              .tweet-text
                p 你好
          .tweet
            .inner
              .tweet-header
                img(src="img.png")
              .tweet-text
                p 你好
          .tweet
            .inner
              .tweet-header
                img(src="img.png")
              .tweet-text
                p 你好
          .tweet
            .inner
              .tweet-header
                img(src="img.png")
              .tweet-text
                p 你好
          .tweet
            .inner
              .tweet-header
                img(src="img.png")
              .tweet-text
                p 你好
          .tweet
            .inner
              .tweet-header
                img(src="img.png")
              .tweet-text
                p 你好
          .tweet
            .inner
              .tweet-header
                img(src="img.png")
              .tweet-text
                p 你好
          .tweet
            .inner
              .tweet-header
                img(src="img.png")
              .tweet-text
                p 你好
          .tweet
            .inner
              .tweet-header
                img(src="img.png")
              .tweet-text
                p 你好
          .tweet
            .inner
              .tweet-header
                img(src="img.png")
              .tweet-text
                p 你好
          .tweet
            .inner
              .tweet-header
                img(src="img.png")
              .tweet-text
                p 你好
          .tweet
            .inner
              .tweet-header
                img(src="img.png")
              .tweet-text
                p 你好
          .tweet
            .inner
              .tweet-header
                img(src="img.png")
              .tweet-text
                p 你好
          .tweet
            .inner
              .tweet-header
                img(src="img.png")
              .tweet-text
                p 你好
          .tweet
            .inner
              .tweet-header
                img(src="img.png")
              .tweet-text
                p 你好
          .tweet
            .inner
              .tweet-header
                img(src="img.png")
              .tweet-text
                p 你好
          .tweet
            .inner
              .tweet-header
                img(src="img.png")
              .tweet-text
                p 你好
          .tweet
            .inner
              .tweet-header
                img(src="img.png")
              .tweet-text
                p 你好
          .tweet
            .inner
              .tweet-header
                img(src="img.png")
              .tweet-text
                p 你好
          .tweet
            .inner
              .tweet-header
                img(src="img.png")
              .tweet-text
                p 你好
          .tweet
            .inner
              .tweet-header
                img(src="img.png")
              .tweet-text
                p 你好
          .tweet
            .inner
              .tweet-header
                img(src="img.png")
              .tweet-text
                p 你好
